# Nhập dữ liệu

In [1]:
age <- c(50,62, 60,40,48,47,57,70,48,67)
insulin <- c(16.5,10.8,32.3,19.3,14.2,11.3,15.5,15.8,16.2,11.2)

In [2]:
df <- data.frame(age, insulin)

In [3]:
setwd('E:/Statistics-R/THONG KE R')

In [6]:
save(df, file='df_test.rda')

?save

### 3.2 Nhập số liệu trực tiếp: edit(data.frame())

ins <- edit(data.frame())

### 3.3 Nhập số liệu từ một text file: read.table

In [9]:
chol <- read.table("chol.txt", header=TRUE)

In [10]:
chol

   id sex age bmi hdl   ldl tc  tg
1   1 Nam 57  17  5.000 2.0 4.0 1.1
2   2 Nu  64  18  4.380 3.0 3.5 2.1
3   3 Nu  60  18  3.360 3.0 4.7 0.8
4   4 Nam 65  18  5.920 4.0 7.7 1.1
5   5 Nam 47  18  6.250 2.1 5.0 2.1
6   6 Nu  65  18  4.150 3.0 4.2 1.5
7   7 Nam 76  19  0.737 3.0 5.9 2.6
8   8 Nam 61  19  7.170 3.0 6.1 1.5
9   9 Nam 59  19  6.942 3.0 5.9 5.4
10 10 Nu  57  19  5.000 2.0 4.0 1.9
11 11 Nu  63  20  4.217 5.0 6.2 1.7
12 12 Nam 51  20  4.823 1.3 4.1 1.0
13 13 Nu  60  20  3.750 1.2 3.0 1.6
14 14 Nam 42  20  1.904 0.7 4.0 1.1
15 15 Nam 64  20  6.900 4.0 6.9 1.5
16 16 Nu  49  20  0.633 4.1 5.7 1.0
17 17 Nu  44  21  5.530 4.3 5.7 2.7
18 18 Nu  45  21  6.625 4.0 5.3 3.9
19 19 Nu  80  21  5.960 4.3 7.1 3.0
20 20 Nu  48  21  3.800 4.0 3.8 3.1
21 21 Nu  61  21  5.375 3.1 4.3 2.2
22 22 Nu  45  21  3.360 3.0 4.8 2.7
23 23 Nu  70  21  5.000 1.7 4.0 1.1
24 24 Nu  51  21  2.608 2.0 3.0 0.7
25 25 Nam 63  22  4.130 2.1 3.1 1.0
26 26 Nam 54  22  5.000 4.0 5.3 1.7
27 27 Nu  57  22  6.235 4.1 5.3 2.9
28 28 Nam 70  22  3.600 4.0 5.4 2.5
29 29 Nu  47  22  5.625 4.2 4.5 6.2
30 30 Nu  60  22  5.360 4.2 5.9 1.3
31 31 Nu  60  22  6.580 4.4 5.6 3.3
32 32 Nam 50  22  7.545 4.3 8.3 3.0
33 33 Nam 60  22  6.440 2.3 5.8 1.0
34 34 Nu  55  22  6.170 6.0 7.6 1.4
35 35 Nu  74  23  5.270 3.0 5.8 2.5
36 36 Nam 48  23  3.220 3.0 3.1 0.7
37 37 Nu  46  23  5.400 2.6 5.4 2.4
38 38 Nam 49  23  6.300 4.4 6.3 2.4
39 39 Nu  69  23  9.110 4.3 8.2 1.4
40 40 Nu  72  23  7.750 4.0 6.2 2.7
41 41 Nam 51  23  6.200 3.0 6.2 2.4
42 42 Nu  58  23  7.050 4.1 6.7 3.3
43 43 Nam 60  24  6.300 4.4 6.3 2.0
44 44 Nam 45  24  5.450 2.8 6.0 2.6
45 45 Nam 63  24  5.000 3.0 4.0 1.8
46 46 Nu  52  24  3.360 2.0 3.7 1.2
47 47 Nam 64  24  7.170 1.0 6.1 1.9
48 48 Nam 45  24  7.880 4.0 6.7 3.3
49 49 Nu  64  25  7.360 4.6 8.1 4.0
50 50 Nu  62  25  7.750 4.0 6.2 2.5

In [11]:
names(chol)

[1] "id"  "sex" "age" "bmi" "hdl" "ldl" "tc"  "tg"

In [12]:
save(chol, file="chol.rda")

### 3.4 Nhập số liệu từ Excel: read.csv

In [19]:
setwd("E:/Statistics-R/THONG KE R/")

gh <- read.csv("excel.csv", header=TRUE)

In [ ]:
library(CalSim)

### 3.6 Thông tin cơ bản về dữ liệu

In [25]:
attach(chol)

The following object is masked _by_ .GlobalEnv:

    age

In [27]:
is.data.frame(chol)

[1] TRUE

In [28]:
dim(chol)

[1] 50  8

In [30]:
names(chol)

[1] "id"  "sex" "age" "bmi" "hdl" "ldl" "tc"  "tg"

In [31]:
table(sex)

sex
Nam  Nu
 22  28